name: Yoga

on: pull_request

jobs:
  linter_and_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 16
        cache: 'yarn'
        cache-dependency-path: yarn.lock
    - name: Install dependencies
      run: yarn
    - name: Run linter
      run: yarn lint:all
    - name: Run tests
      run: yarn test:coverage
    - name: Run SonarCloud
      uses: SonarSource/sonarqube-scan-action@v5.3.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - name: Run build
      run: yarn build
